[submodule "Wherever-We-Are"]
	path = Wherever-We-Are
	url = https://github.com/brunoruviaro/Wherever-We-Are
[submodule "Mozart-Dice-Game"]
	path = Mozart-Dice-Game
	url = https://github.com/brunoruviaro/Mozart_Dice_Game
[submodule "Bach-Gounod-Wiimotes"]
	path = Bach-Gounod-Wiimotes
	url = https://github.com/brunoruviaro/Bach_Gounod_Wiimotes
[submodule "Sandstrom-Wiimotes"]
	path = Sandstrom-Wiimotes
	url = https://github.com/brunoruviaro/Sandstrom
[submodule "Bach-Again-And-Again"]
	path = Bach-Again-And-Again
	url = https://github.com/brunoruviaro/bach-again-and-again
[submodule "4K-BPM"]
	path = 4K-BPM
	url = https://github.com/brunoruviaro/4K-BPM-SCLOrk
[submodule "Cricket-Machine"]
	path = Cricket-Machine
	url = https://github.com/brunoruviaro/Cricket-Machine
[submodule "Grain-Master-Scratch"]
	path = Grain-Master-Scratch
	url = https://github.com/brunoruviaro/Grain-Master-Scratch
